QPushButton {
  font: bold;
  text-align: left;
  padding: 10px 10px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 14px;
  border-radius: 8px;
  margin: 2px 5px;
}

QPushButton:hover {
  background-color: #e5e5e5;
}

QPushButton:pressed {
  background-color: #cecece;
}

QPushButton:checked {
  background-color: #dadada;
  color: #000000;
}

QPushButton[highlighted="true"] {
  color: #644c30;
}
